*{
  margin:0;
}
.TitleText{
  font-family: din-2014,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.Main{
  width: auto;
  height: auto;
  background: linear-gradient(to bottom,#a50022,#7f0000);
  text-align: center;
}
.AmuseTitle{
  padding-top: 13px;
}
/* .Horror{
  padding-top: 11px;
} */
.AmuseSection{
  padding-top: 10px;
}
.Quiz{
  padding-top: 33px;
  padding-bottom: 50px;
}