*{
  margin:0;
}
.Title{
  text-align: center;
}
.TitleText{
  font-family: din-2014,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
}
.FoodsTitle{
  text-align: center;
  width: 375px;
  height: 48px;
  background-color: #FFD522;
}
.FoodsText{
 padding-top: 11px;
}
.Foods{
  /* text-align: center; */
  padding-top: 28px;
}
.Yakisoba{
  padding-bottom: 16px;
  display: inline-block;
}
.YakisobaBox{
  width: 294px;
  height: 120px;
  border: 5px #FFD522 solid;
  border-radius: 10px;
}
.YakisobaImg{
  display: block;
  text-align: left;
}
.YakisobaText{

}