*{
  margin:0;
}
.TitleText{
  font-family: din-2014,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.Main{
  width: auto;
  height: auto;
  background: linear-gradient(to bottom,#0091e9,#005cbf);
  text-align: center;
}
.StageTitle{
  padding-top: 13px;
}
.PMImg{
  padding-top: 13px;
  padding-bottom: 30px;
}